<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <!-- <meta name="viewport" content="width=device-width, initial-scale=1.0"> -->
    <title>Document</title>
  </head>
  <body>
    <form action="/api" method="POST">
      <textarea
        name="review_post"
        placeholder="Enter your post here..."
        rows="10"
        cols="30"
      ></textarea>
      <br/>
      <input type="submit" value="Post" />
    </form>
    {{predict}}
  </body>
</html>
