<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <!-- <meta name="viewport" content="width=device-width, initial-scale=1.0"> -->
    <title>Document</title>
  </head>
  <body>
    <div style="display: flex;justify-content: center;align-items: center;flex-direction: column; ">
    <form action="/api" method="POST" style="display: flex;justify-content: center;align-items: center;flex-direction: column;">
      <textarea
        name="review_post"
        placeholder="Enter your post here..."
        rows="10"
        cols="50"
      ></textarea>
      <br/>
      <input style="margin-top: 1rem; margin-bottom: 1rem;"type="submit" value="Post" />
    </form>
    {% if text %}
      Post: {{text}}<br/>
      Evaluation: {{msg}}
    {% endif %}
  </div>
  </body>
</html>
